parameters:
  level: 8
  excludePaths:
    analyse:
      - dependencies
    analyseAndScan:
      - vendor
  scanDirectories:
    - .cache/wordpress
    - .cache/wordpress-tests-lib
  ignoreErrors:
    - '#Constant MINUTE_IN_SECONDS not found.#'
    -
      identifier: trait.unused
      path: src/Traits
